/* Add CSS Styling */

.odd {
    background-color: rgb(255, 182, 193);
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

.text-medium {
    font-size: 24px;
}

#num2 {
    color: blue;
    font-size: 36px;
}


#num4 {
    background-color: #90ee90;
    font-weight: bold;
}